# IntelliJ IDEA project files
*.iml
.idea/
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/vcs.xml
.idea/tasks.xml

# Gradle files
.gradle/
local.properties

# Build and output directories
/build/
app/build/
captures/
.externalNativeBuild/
.cxx/

# macOS files
.DS_Store

# Temporary files
*.log
.temp
*.swp
*~

# Generated test reports
/test-results/
/outputs/

# Exclude SDK settings
/local.properties

#Exclude API Key
keys.properties